@model Inventory_Mgmt.Models.purcahse

@{
    ViewBag.Title = "Edit Purchase";
}

@section Scripts {
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.3.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
            });
        });
    </script>

}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
            <h2>Update Purchase</h2>
        </div>

        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="form-group row">
                    @Html.Label("Purchase Product", "Product", htmlAttributes: new { @class = "col-md-3 col-form-label text-md-right font-weight-bold" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.purchase_prod, ViewBag.ProductName as SelectList, "Select Product", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.purchase_prod, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3">
                    @Html.Label("Purchase Quantity", "Quantity", htmlAttributes: new { @class = "col-md-3 col-form-label text-md-right font-weight-bold" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.purchase_qnty, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.purchase_qnty, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3">
                    @Html.Label("Purchase Date", "Purchase Date", htmlAttributes: new { @class = "col-md-3 col-form-label text-md-right font-weight-bold" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.purchase_date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.purchase_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" class="btn btn-outline-primary btn-lg w-10">Update</button>
                    </div>
                </div>
            }
        </div>

        <div class="card-footer text-right">
            @Html.ActionLink("Back to List", "DisplayPurchase", null, new { @class = "btn btn-outline-danger btn-lg" })
        </div>
    </div>
</div>


